<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.trinea.android.demo"
    android:versionCode="50"
    android:versionName="3.2.5" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".MyService" />
        <service android:name=".MyIntentService" />
        <service android:name=".MyAIDLService" >
            <intent-filter>
                <action android:name="cn.trinea.android.demo.remote.MyAIDLServiceAction" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="demo.android"
                    android:scheme="trinea" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DownloadManagerDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/download_manager_demo_activity_title"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/cn.trinea.download.file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageSDCardCacheDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/imagesdcardcache_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".HttpCacheDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/httpcache_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ImageCacheDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/imagecache_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".DropDownListViewDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/dropdownlistview_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AutoScrollViewPagerDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/auto_scroll_view_pager_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AutoScrollViewPagerInnerDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/auto_scroll_view_pager_inner_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".BorderScrollViewDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/borderscrollview_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SearchViewDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/search_view_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ViewPagerMulTiFragmentDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/view_pager_multi_fragment_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SlideOnePageGalleryDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/slide_one_page_gallery_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ViewPagerDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/view_pager_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".BroadcastReceiverDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/broadcastreceiver_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ServiceDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/service_demo_activity_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>